<%= simple_form_for(@edition) do |form| %>
  <% if @edition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edition.errors.count, "error") %> prohibited this edition from being saved:</h2>
      <ul>
      <% @edition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <fieldset>
          <table>
            <thead>
              <tr>
                <th>
                  <%= form.input :number, class: "form-control-sm", disabled: true, placeholder: Edition.next_edition_number %>
                </th>
                <th>
                  <%= form.input :name, class: "form-control-sm" %>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= form.submit "Save", class: "btn btn-primary btn-sm" %>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
    </fieldset>
  </div>
<% end %>
