<% if Edition.unpublished.any? and query.present? %>
  <div class="card border-primary mb-12" style="max-width: 2000rem;">
    <div class="card-body">
      <%= simple_form_for :edition, url: create_cards_from_players_editions_path do |ef| %>
        <div class="form-group">
          <fieldset>
            <%= ef.label "Edition", class: "col-form-label col-form-label-sm" %>
            <%= ef.collection_select :id, Edition.unpublished, :id, :name_with_number, class: "custom-select" %>
            <%= ef.label "Target Card Type (if it applies)", class: "col-form-label col-form-label-sm" %>
            <%= ef.select :card_type, Card::CARD_TYPES, selected: select_card_type_from_search, class: "custom-select" %>
            <%= ef.label "Average number of cards per player", class: "col-form-label col-form-label-sm" %>
            <%= ef.collection_select :average_num_cards, Card::AVERAGE_NUMBERS_PER_PLAYER, :to_i, :to_s, class: "custom-select" %>
            <%= ef.label "Variation cards per player", class: "col-form-label col-form-label-sm" %>
            <%= ef.select :num_cards_random_variation, Card::PER_PLAYER_RANDOM_VARIATION.map{|k,v| [k.to_s,v]}, class: "custom-select" %>
            <%= ef.hidden_field :q_json, value: (query).to_json %>
            <%= ef.submit "Create Cards From These Players", class: "btn btn-primary btn-sm", data: { confirm: 'Are you sure? This will add cards for this set of players in random amounts with the selected average and random variation per player' } %>
          </fieldset>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
