<table data-toggle="table">
  <thead>
    <tr>
      <th>BBRef ID</th>
      <th>Full Name</th>
      <th>First</th>
      <th>Last</th>
      <th>Pos</th>
      <th>Bats</th>
      <th>Throws</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Debut</th>
      <th>Last Game</th>
      <th>Born</th>
      <th>Place</th>
    </tr>
  </thead>

  <tbody>
    <% players.each_with_index do |player, i| %>
      <tr>
        <td><%= link_to "#{player.lahman_bbref_id}", "https://www.baseball-reference.com/players/#{player.lahman_bbref_id.to_s[0]}/#{player.lahman_bbref_id}.shtml", target: '_new' %></td>
        <td><%= player.given_name %> <%= player.last_name %></td>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.fielding_stats.map{|fs| fs.position_code}.uniq.join(', ') %></td>
        <td><%= player.bats %></td>
        <td><%= player.throws %></td>
        <td><%= (player.height.to_i/12).floor %>' <%= (player.height.to_i % 12) %>"</td>
        <td><%= player.weight %> lbs</td>
        <td><%= player.debut %></td>
        <td><%= player.final_game %></td>
        <td><%= player.birthday %></td>
        <td><%= player.birth_city %>, <%= player.birth_state %>, <%= player.birth_country %></td>
      </tr>
    <% end %>
  </tbody>
</table>

