<b>Total: <%= @players.total_count %></b>
<%= paginate @players, theme: 'twitter-bootstrap-4' %>

<table data-toggle="table">
  <thead>
    <tr>
      <th></th>
      <th><%= sort_link(@q, :lahman_bbref_id, 'BBRef ID', default_order: :asc) %></th>
      <th>First</th>
      <th><%= sort_link(@q, :last_name) %></th>
      <th>Pos</th>
      <th><%= sort_link(@q, :bats) %></th>
      <th><%= sort_link(@q, :throws) %></th>
      <th><%= sort_link(@q, :height) %></th>
      <th><%= sort_link(@q, :weight) %></th>
      <th><%= sort_link(@q, :debut) %></th>
      <th><%= sort_link(@q, :final_game) %></th>
      <th><%= sort_link(@q, :birthday) %></th>
      <th>Place</th>
      <th><%= sort_link(@q, :tot_ab_batter, "PA", default_order: :desc) %></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td>
          <%= player_images(player) %>
        </td>
        <td>
          <%= player_links_to_bbref(player) %>
        </td>
        <td><%= link_to player.first_name, player_url(player.id) %></td>
        <td><%= link_to player.last_name, player_url(player.id) %></td>
        <td><%= player.fielding_stats.map{|fs| fs.position_code}.uniq.join(', ') %></td>
        <td><%= player.bats %></td>
        <td><%= player.throws %></td>
        <td><%= (player.height.to_i/12).floor %>' <%= (player.height.to_i % 12) %>"</td>
        <td><%= player.weight %> lbs</td>
        <td><%= player.debut %></td>
        <td><%= player.final_game %></td>
        <td><%= player.birthday %></td>
        <td><%= player.birth_city %>, <%= player.birth_state %>, <%= player.birth_country %></td>
        <td><%= player.tot_ab_batter %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<b>Total: <%= @players.total_count %></b>
<%= paginate @players, theme: 'twitter-bootstrap-4' %>

