<div class="card border-primary mb-12" style="max-width: 2000rem;">
  <div class="card-header">Players Search</div>
  <div class="card-body">
    <%= search_form_for @q do |f| %>
      <%= hidden_field_tag :edition_id, @edition_id %>
      <div class="form-group">
        <fieldset>
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-outline-info">Prebuilt Searches</button>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <%= link_to "Non-active non-pitchers with 5000 or more PA", players_path(edition_id: @edition_id, q: {active_eq: false, is_pitcher_eq: false, with_career_num_ab_greater_than: 5000}), class: "dropdown-item" %>
                <%= link_to "Non-active pitchers with 1800 or more IP and .520+ win percentage", players_path(edition_id: @edition_id, q: {active_eq: false, is_pitcher_eq: true, with_career_num_ips_greater_than: 1800, with_career_winning_percentage_greater_than: 0.52}), class: "dropdown-item" %>
                <%= link_to "Non-active pitchers with 184 or more saves", players_path(edition_id: @edition_id, q: {active_eq: false, is_pitcher_eq: true, with_career_num_sv_greater_than: 184}), class: "dropdown-item" %>
                <%= link_to "Non-active non-pitchers with fewer than 5000 PA in the Hall of Fame", players_path(edition_id: @edition_id, q: {active_eq: false, is_pitcher_eq: false, with_career_num_ab_less_than: 5000, is_hall_of_famer_eq: true}), class: "dropdown-item" %>
                <%= link_to "Active Players that have appeared in an All Star Game", players_path(edition_id: @edition_id, q: {active_eq: true, is_all_star_eq: true}), class: "dropdown-item" %>
                <%= link_to "Negro League Players in the Hall of Fame", players_path(edition_id: @edition_id, q: {is_nlg_hall_of_famer_eq: true}), class: "dropdown-item" %>
                <%= link_to "Managers with > 500 wins", players_path(edition_id: @edition_id, q: {is_manager_eq: true, managers_with_career_w_greater_than: 500}), class: "dropdown-item" %>
              </div>
            </div>
          </div>
          <br/>
          <br/>
        </fieldset>
        <fieldset>
          <table data-toggle="table">
            <thead>
              <tr>
                <th>
                  <%= f.label "First Or Last Name", class: "col-form-label col-form-label-sm" %>
                  <%= f.search_field :first_name_or_last_name_or_given_name_cont, class: "form-control-sm" %>
                </th>
                <th>
                  <%= f.label "BBRef ID", class: "col-form-label col-form-label-sm" %>
                  <%= f.search_field :lahman_bbref_id_cont, size: 10, class: "form-control-sm" %>
                </th>
                <th>
                  <%= f.label "Position(s)", class: "col-form-label col-form-label-sm" %>
                  <%= f.collection_select :fielding_stats_position_code_in, FieldingStat.select("distinct position_code").order(:position_code), :position_code, :position_code, include_blank: true, class: "form-control-sm" %>
                </th>
                <th>
                  <%= f.label "Active", class: "col-form-label col-form-label-sm" %>
                  <%= f.collection_select :active_eq, [false, true], :present?, :present?, include_blank: true, class: "custom-select" %>
                </th>
                <th>
                  <%= f.label "PA >", class: "col-form-label col-form-label-sm" %>
                  <%= f.search_field :with_career_num_ab_greater_than, size: 5, class: "form-control-sm" %>
                </th>
                <th>
                  <%= f.label "PA <", class: "col-form-label col-form-label-sm" %>
                  <%= f.search_field :with_career_num_ab_less_than, size: 5, class: "form-control-sm" %>
                </th>
                <th>
                  <%= f.label "IPs >", class: "col-form-label col-form-label-sm" %>
                  <%= f.search_field :with_career_num_ips_greater_than, size: 4, class: "form-control-sm" %>
                </th>
              </tr>
              <tr>
                <th>
                  <%= f.label "Pitching Win % >", class: "col-form-label col-form-label-sm" %>
                  <%= f.search_field :with_career_winning_percentage_greater_than, size: 4, class: "form-control-sm" %>
                </th>
                <th>
                  <%= f.label "Saves >", class: "col-form-label col-form-label-sm" %>
                  <%= f.search_field :with_career_num_sv_greater_than, size: 4, class: "form-control-sm" %>
                </th>
                <th>
                  <%= f.label "Hall of Famer", class: "col-form-label col-form-label-sm" %>
                  <%= f.collection_select :is_hall_of_famer_eq, [false, true], :present?, :present?, include_blank: true, class: "custom-select" %>
                </th>
                <th>
                  <%= f.label "All Star", class: "col-form-label col-form-label-sm" %>
                  <%= f.collection_select :is_all_star_eq, [false, true], :present?, :present?, include_blank: true, class: "custom-select" %>
                </th>
                <th>
                  <%= f.label "Negro League Hall of Fame", class: "col-form-label col-form-label-sm" %>
                  <%= f.collection_select :is_nlg_hall_of_famer_eq, [false, true], :present?, :present?, include_blank: true, class: "custom-select" %>
                </th>
                <th>
                  <%= f.label "Manager Wins >", class: "col-form-label col-form-label-sm" %>
                  <%= f.search_field :managers_with_career_w_greater_than, size: 4, class: "form-control-sm" %>
                </th>
                <th>
                  <%= f.submit "Search", class: "btn btn-primary btn-sm" %>
                  <%= link_to "Clear", players_path, class: "btn btn-outline-primary btn-sm" %>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
    <% end %>
  </div>
</div>
<br/>

<%= render partial: 'create_cards_from_players_form', locals: { query: (params[:q]||{}), return_path: request.path } %>
<br/>

<div id="players">
  <%= render partial: 'players/players' %>
</div>
