<p id="notice"><%= notice %></p>

<div class="card border-primary mb-12" style="max-width: 2000rem;">
  <div class="card-header"><%= "#{@player.first_name} #{@player.last_name}" %></div>
  <div class="card-body">
    <%= link_to 'Back', (request.referer || players_path), class: "btn btn-outline-primary btn-sm" %>
    <p/>
    <p>BaseballReference.com ID: <%= player_links_to_bbref(@player, separator=" | ") %></p>
    <p>Full Name: <%= @player.given_name %> <%= @player.last_name %></p>
    <p>Position(s): <%= @player.fielding_stats.map{|fs| fs.position_code}.uniq.join(', ') %></p>
    <p>Bats: <%= @player.bats %>, Throws: <%= @player.throws %>, <%= (@player.height.to_i/12).floor %>' <%= (@player.height.to_i % 12) %>", <%= @player.weight %> lbs</p>
    <p>Debut: <%= @player.debut %>, Last Game: <%= @player.final_game %>, Born: <%= @player.birthday %> in <%= @player.birth_city %>, <%= @player.birth_state %>, <%= @player.birth_country %></p>
    <p/>
  </div>
</div>
<%= render partial: 'create_cards_from_players_form', locals: { query: {id_eq: 4087} } %>
<br/>
<p>Cards:</p>
<div class="cards">
  <%= render partial: 'cards/cards', locals: { cards: @player.cards.order(:id).page(params[:page])} %>
</div>
