<div class="card border-primary mb-2" style="max-width: 20rem;">
  <div class="card-header"><small><%= link_to "#{card.player.first_name} #{card.player.last_name}", player_path(card.player) %>,  <%= link_to "edition #{card.edition.number}: #{card.edition.name}", edition_path(card.edition) %>, <%= card.series_index %> of <%= card.total_cards_in_series %></small></div>
  <div class="card-body">
    <%= player_images(card.player, 1) %>
    <small>Card Type: <%= card.card_type %><br/>BBRefID: <%= card_links_to_bbref(card) %><br/>Full Name: <%= card.player.given_name %> <%= card.player.last_name %>, Position(s): <%= card.player.fielding_stats.map{|fs| fs.position_code}.uniq.join(', ') %>, Bats: <%= card.player.bats %>, Throws: <%= card.player.throws %>, <%= (card.player.height.to_i/12).floor %>' <%= (card.player.height.to_i % 12) %>", <%= card.player.weight %> lbs, Debut: <%= card.player.debut %>, Last Game: <%= card.player.final_game %>, Born: <%= card.player.birthday %> in <%= card.player.birth_city %>, <%= card.player.birth_state %>, <%= card.player.birth_country %></small>
  </div>
</div>
