<% cols = 5 %>

<b>Total: <%= cards.total_count %></b>
<%= paginate cards, theme: 'twitter-bootstrap-4' %>

<table>
  <tbody>
    <tr>
    <% cards.each_with_index do |card, i| %>
      <% if (i % cols == 0) %></tr><tr><% end %>
      <td><%= render partial: 'cards/card', locals: { card: card} %></td>
    <% end %>
    </tr>
  </tbody>
</table>

<b>Total: <%= cards.total_count %></b>
<%= paginate cards, theme: 'twitter-bootstrap-4' %>
